<div>
    <h2>PESQUISA</h2>
    <mat-divider></mat-divider>
</div>
<form
    style="margin-top: 20px"
    [formGroup]="searchForm"
    (submit)="search(select.value)">
    <div>
        <label>CLassificação Risco</label>
        <ngx-select-dropdown
            #select
            formControlName="select"
            [options]="dropdownOptions">
        </ngx-select-dropdown>
        <small style="color: red;"
            *ngIf="searchForm.get('select').errors?.required">Escolha uma opção!</small>
    </div>
    <button [disabled]="searchForm.invalid" mat-raised-button id="search-button">Pesquisar</button>
</form>
